<div class="tip">
    <div class="title">Process</div>
    <hr />

    <div class="body">
        <table>
            <tr>
                <td><em>PID</em></td>
                <td>{{data.pid}}</td>
            </tr>
            <tr>
                <td><em>Services</em></td>
                <td>{{data.services.length}}</td>
            </tr>
        </table>
    </div>

    <div class="footer">Click for details</div>
</div>
