{{!
 id: Unique identifier for the dialog box.
 serviceName: Name of the service
 aidl: The unformatted AIDL code.
--}}
<div class="dialog" id="{{id}}">

    <div class="title">{{name}}</div>

    <div class="aidl">
        {{aidl}}
    </div>

</div>